!**/.git
!**/submodules/*
**/.gitignore
**/*.md
**/docker-compose.yml
**/Dockerfile*
**/.dockerignore
**/.vagrant
**/.travis.yml
**/build/*
**/*-build
**/build-*
**/build/
**/cling-build/
!submodules/CXTPL/submodules/folly/**/build/*
!submodules/CXTPL/submodules/folly/build/
!submodules/CXTPL/submodules/folly/build/*
!submodules/CXTPL/third_party/chromium/**/build
!submodules/CXTPL/third_party/chromium/**/build/*
**/bin/*
**/node_modules
**/tmp
**/*.log
**/doc
**/spec
**/media
**/.openshift
**/.bundle
**/vendor/bundle
**/*.sqlite3
**/coverage
**/build_docker_image.sh
**/*.rbc
**/*.sassc
**/.sass-cache
**/capybara-*.html
**/.rspec
**/*.orig
**/.idea/
**/.DS_Store
**/.ruby-gemset
**/.ruby-version
**/manifest.yml
**/config/unicorn.rb
**/db/schema.rb
**/*.slo
**/*.lo
**/*.o
**/*.obj
**/*.gch
**/*.pch
**/*.so
**/*.dylib
**/*.dll
**/*.mod
**/*.lai
**/*.la
**/*.a
**/*.lib
**/*.exe
**/*.out
**/*.app
**/.directory
**/CMakeLists\.txt\.user
**/generated/
**/custom_plugins\.cmake
**/src/ctp_registry\.cpp

