[submodule "submodules/CXTPL"]
	path = submodules/CXTPL
  url = http://github.com/blockspacer/CXTPL.git
[submodule "submodules/boost.outcome"]
	path = submodules/boost.outcome
  url = http://github.com/ned14/outcome.git
[submodule "submodules/GSL"]
	path = submodules/GSL
  url = http://github.com/microsoft/GSL.git
[submodule "submodules/folly"]
	path = submodules/folly
  url = http://github.com/facebook/folly.git
[submodule "submodules/iwyu"]
	path = submodules/iwyu
  url = http://github.com/include-what-you-use/include-what-you-use.git
[submodule "submodules/g3log"]
	path = submodules/g3log
  url = http://github.com/KjellKod/g3log.git
[submodule "submodules/rang"]
	path = submodules/rang
  url = http://github.com/agauniyal/rang.git
[submodule "submodules/Catch"]
	path = submodules/Catch
  url = http://github.com/philsquared/Catch.git
[submodule "submodules/FakeIt"]
	path = submodules/FakeIt
  url = http://github.com/eranpeer/FakeIt.git
[submodule "submodules/glog"]
	path = submodules/glog
  url = http://github.com/google/glog.git
[submodule "submodules/gflags"]
	path = submodules/gflags
  url = http://github.com/gflags/gflags.git
