# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.directory

build/

cling-build/

CMakeLists\.txt\.user

generated/

# Custom
custom_plugins\.cmake
src/ctp_registry\.cpp
